@mixin mobile-styles {

  .mobile-tab-switcher {
    backdrop-filter: blur(5px);

    .mobile-tab-group-container {
      .close-button {
        color: var(--level-1);
        background-color: var(--s-hover-bg-color-green);
      }

      //active tab
      .mobile-tab.is-active .mobile-tab-preview-empty,
      .mobile-tab.is-active .mobile-tab-preview-embed {
        box-shadow: 0 0 0 1px var(--s-green-primary-color)
      }

      .mobile-tab-preview {
        box-shadow: 0 0 0 1px var(--s-hover-bg-color-green)
      }

    }

    .mobile-tab-switcher-menubar {
      .mobile-tab-switcher-menu-spacer {
        height: 100%;


        //done button
        .clickable-icon {
          background-color: var(--s-green-primary-color);
          color: var(--s-bg-primary-color);
        }
      }

      .mobile-tab-switcher-menu-button {
        background-color: var(--s-green-primary-color);
        height: 100%;
        padding: 0 5px;
        border-radius: 4px;
        color: var(--s-bg-primary-color);
        width: 35vw;
        justify-content: space-evenly;

        .mobile-tab-switcher-menu-button-chevron {
          color: var(--s-bg-primary-color);
          border-radius: 50%;
        }
      }
    }


  }
}