@mixin mobile-styles {

  .modal.mod-settings.mod-sidebar-layout {

    background: transparent;

    .modal-content.vertical-tabs-container {

      .vertical-tab-header-group {
        margin: 20px 10px;
        border: 1px solid var(--s-hover-bg-color-green);
        border-radius: 10px;

        .vertical-tab-header-group-items {
          &>div:nth-child(1) {
            color: var(--level-1);
          }

          &>div:nth-child(2) {
            color: var(--level-2);
          }

          &>div:nth-child(3) {
            color: var(--level-3);
          }

          &>div:nth-child(4) {
            color: var(--level-4);
          }

          &>div:nth-child(5) {
            color: var(--level-5);
          }

          &>div:nth-child(6) {
            color: var(--level-6);
          }

          &>div:nth-child(7) {
            color: var(--level-6);
          }

          &>div:nth-child(8) {
            color: var(--level-5);
          }

          &>div:nth-child(9) {
            color: var(--level-4);
          }

          &>div:nth-child(10) {
            color: var(--level-3);
          }

          &>div:nth-child(11) {
            color: var(--level-2);
          }

          &>div:nth-child(12) {
            color: var(--level-1);
          }
        }
      }
    }

  }

  &.theme-light {
    .modal.mod-settings.mod-sidebar-layout {
      background: transparent;

      .modal-header {
        border-bottom: var(--border-width) solid var(--s-hover-bg-color-green);
      }


      .modal-content.vertical-tabs-container {

        .vertical-tab-header-group {
          margin: 20px 10px;
          border: 1px solid var(--text-normal);
          border-radius: 10px;

          .vertical-tab-header-group-items {
            .vertical-tab-nav-item {
              color: var(--text-normal);
              // border-bottom: var(--border-width) solid var(--s-hover-bg-color-green);

            }

          }
        }
      }
    }
  }
}