@mixin mobile-styles {
  .community-item {
    grid-auto-flow: unset !important;
    border-bottom: 1px dashed var(--s-button-bg-color);
    position: relative;
    height: 115px;

    &:first-child {
      border-top: 1px dashed var(--s-button-bg-color);
    }

    .community-item-screenshot {
      position: absolute;
      margin: 0;
      border-radius: 10px;
      grid-row: unset !important;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}