.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator,
.markdown-preview-view .heading-collapse-indicator {
  cursor: pointer;
}



.is-mobile .markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator,
.is-mobile .markdown-preview-view .heading-collapse-indicator {
  opacity: 1;
}

.markdown-source-view.mod-cm6 .cm-foldPlaceholder {
  color: transparent;
  position: relative;
  width: 50px;
  display: inline-block;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 2px;
    background-color: var(--s-green-primary-color)
  }
}

h1,
.is-live-preview .HyperMD-header-1 {

  .collapse-indicator svg.svg-icon {
    color: var(--h1-color) !important;
  }

  .cm-foldPlaceholder::after {
    background-color: var(--h1-color);
  }

}

h2,
.is-live-preview .HyperMD-header-2 {

  .collapse-indicator svg.svg-icon {
    color: var(--h2-color) !important;
  }

  .cm-foldPlaceholder::after {
    background-color: var(--h2-color);
  }

}

h3,
.is-live-preview .HyperMD-header-3 {

  .collapse-indicator svg.svg-icon {
    color: var(--h3-color) !important;
  }

  .cm-foldPlaceholder::after {
    background-color: var(--h3-color);
  }

}

h4,
.is-live-preview .HyperMD-header-4 {

  .collapse-indicator svg.svg-icon {
    color: var(--h4-color) !important;
  }

  .cm-foldPlaceholder::after {
    background-color: var(--h4-color);
  }

}

h5,
.is-live-preview .HyperMD-header-5 {

  .collapse-indicator svg.svg-icon {
    color: var(--h5-color) !important;
  }

  .cm-foldPlaceholder::after {
    background-color: var(--h5-color);
  }

}

h6,
.is-live-preview .HyperMD-header-6 {

  .collapse-indicator svg.svg-icon {
    color: var(--h6-color) !important;
  }

  .cm-foldPlaceholder::after {
    background-color: var(--h6-color);
  }

}