h1,
.markdown-rendered h1,
.is-live-preview .HyperMD-header-1 {
  font-weight: normal;
}

//---------- HEADING underline
h2,
h3,
h4,
.markdown-rendered h2,
.markdown-rendered h3,
.markdown-rendered h4 {
  position: relative;
}

//h2
.is-live-preview .HyperMD-header-2::before,
.markdown-rendered h2::before {
  margin-inline-start: 0;
  position: absolute;
  content: " ";
  display: inline-block;
  width: 18px;
  height: 2px;
  bottom: 3px;
  border-radius: 5px;
  background-color: var(--h2-color);
  transform: translateY(4px);
}

//h3
.is-live-preview .HyperMD-header-3::before,
.markdown-rendered h3::before {
  margin-inline-start: 0;
  position: absolute;
  content: " ";
  display: inline-block;
  width: 10px;
  height: 2px;
  bottom: 3px;
  border-radius: 5px;
  transform: translateY(4px);
  background-color: var(--h3-color);
}

//h4
.is-live-preview .HyperMD-header-4::before,
.markdown-rendered h4::before {
  margin-inline-start: 0;

  position: absolute;
  content: " ";
  display: inline-block;
  width: 3px;
  height: 2px;
  bottom: 3px;
  border-radius: 5px;
  transform: translateY(3px);
  background-color: var(--h4-color);
}