@charset "UTF-8";
/* 


███████ ████████  █████  ██████      ████████ ██   ██ ███████ ███    ███ ███████ 
██         ██    ██   ██ ██   ██        ██    ██   ██ ██      ████  ████ ██      
███████    ██    ███████ ██████         ██    ███████ █████   ██ ████ ██ █████   
     ██    ██    ██   ██ ██   ██        ██    ██   ██ ██      ██  ██  ██ ██      
███████    ██    ██   ██ ██   ██        ██    ██   ██ ███████ ██      ██ ███████ 


▗▖    ▗▄▖ ▗▄▄▖ ▗▄▄▄▖▗▖  ▗▖ ▗▄▄▖     ▗▄▖  ▗▄▄▖▗▖  ▗▖ ▗▄▖ ▗▖  ▗▖
▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌   ▐▛▚▖▐▌▐▌       ▐▌ ▐▌▐▌   ▐▛▚▞▜▌▐▌ ▐▌▐▛▚▖▐▌
▐▌   ▐▌ ▐▌▐▛▀▚▖▐▛▀▀▘▐▌ ▝▜▌ ▝▀▚▖    ▐▌ ▐▌ ▝▀▚▖▐▌  ▐▌▐▛▀▜▌▐▌ ▝▜▌
▐▙▄▄▖▝▚▄▞▘▐▌ ▐▌▐▙▄▄▖▐▌  ▐▌▗▄▄▞▘    ▝▚▄▞▘▗▄▄▞▘▐▌  ▐▌▐▌ ▐▌▐▌  ▐▌





*/
.ff {
  background-color: orange;
}

:root {
  --primary-color: #6d8696;
  --secondary-color: #2ecc71;
  --font-size-base: 16px;
  --s-bg-color: #141414;
  --s-primary-green-color: #a1f98f;
  --s-secondary-green-color: #36a372;
  --hover-bg-color: #a1f98f24;
}

.theme-dark {
  --primary-color: var(--s-primary-green-color);
  --background-primary: var(--s-bg-color);
  --text-faint: var(--s-secondary-green-color) !important;
}

body {
  background-color: var(--primary-color);
}

/*
 ▗▄▄▖▗▄▄▄▖▗▖  ▗▖▗▄▄▄▖▗▄▄▖  ▗▄▖ ▗▖   
▐▌   ▐▌   ▐▛▚▖▐▌▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌   
▐▌▝▜▌▐▛▀▀▘▐▌ ▝▜▌▐▛▀▀▘▐▛▀▚▖▐▛▀▜▌▐▌   
▝▚▄▞▘▐▙▄▄▖▐▌  ▐▌▐▙▄▄▖▐▌ ▐▌▐▌ ▐▌▐▙▄▄▖

*/
a {
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

/*
▗▄▄▖  ▗▄▄▖
▐▌ ▐▌▐▌   
▐▛▀▘ ▐▌   
▐▌   ▝▚▄▄▖

*/
body:not(.is-mobile) {
  border-radius: 20px;
}
body:not(.is-mobile) .nav {
  color: green;
}

/*
▗▖  ▗▖ ▗▄▖ ▗▄▄▖ ▗▄▄▄▖▗▖   ▗▄▄▄▖
▐▛▚▞▜▌▐▌ ▐▌▐▌ ▐▌  █  ▐▌   ▐▌   
▐▌  ▐▌▐▌ ▐▌▐▛▀▚▖  █  ▐▌   ▐▛▀▀▘
▐▌  ▐▌▝▚▄▞▘▐▙▄▞▘▗▄█▄▖▐▙▄▄▖▐▙▄▄▖

*/
.is-mobile {
  border-radius: 5px;
}
.is-mobile .nav {
  color: green;
}