@charset "UTF-8";
/* 


███████ ████████  █████  ██████      ████████ ██   ██ ███████ ███    ███ ███████ 
██         ██    ██   ██ ██   ██        ██    ██   ██ ██      ████  ████ ██      
███████    ██    ███████ ██████         ██    ███████ █████   ██ ████ ██ █████   
     ██    ██    ██   ██ ██   ██        ██    ██   ██ ██      ██  ██  ██ ██      
███████    ██    ██   ██ ██   ██        ██    ██   ██ ███████ ██      ██ ███████ 


▗▖    ▗▄▖ ▗▄▄▖ ▗▄▄▄▖▗▖  ▗▖ ▗▄▄▖     ▗▄▖  ▗▄▄▖▗▖  ▗▖ ▗▄▖ ▗▖  ▗▖
▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌   ▐▛▚▖▐▌▐▌       ▐▌ ▐▌▐▌   ▐▛▚▞▜▌▐▌ ▐▌▐▛▚▖▐▌
▐▌   ▐▌ ▐▌▐▛▀▚▖▐▛▀▀▘▐▌ ▝▜▌ ▝▀▚▖    ▐▌ ▐▌ ▝▀▚▖▐▌  ▐▌▐▛▀▜▌▐▌ ▝▜▌
▐▙▄▄▖▝▚▄▞▘▐▌ ▐▌▐▙▄▄▖▐▌  ▐▌▗▄▄▞▘    ▝▚▄▞▘▗▄▄▞▘▐▌  ▐▌▐▌ ▐▌▐▌  ▐▌





*/
.ff {
  background-color: orange;
}

:root {
  --primary-color: #6d8696;
  --secondary-color: #2ecc71;
  --font-size-base: 16px;
}

.theme-dark {
  --primary-color: red;
  --background-primary: rgb(37, 72, 32);
}

body {
  background-color: var(--primary-color);
}

/*
 ▗▄▄▖▗▄▄▄▖▗▖  ▗▖▗▄▄▄▖▗▄▄▖  ▗▄▖ ▗▖   
▐▌   ▐▌   ▐▛▚▖▐▌▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌   
▐▌▝▜▌▐▛▀▀▘▐▌ ▝▜▌▐▛▀▀▘▐▛▀▚▖▐▛▀▜▌▐▌   
▝▚▄▞▘▐▙▄▄▖▐▌  ▐▌▐▙▄▄▖▐▌ ▐▌▐▌ ▐▌▐▙▄▄▖

*/
a {
  color: red;
}

/*
▗▄▄▖  ▗▄▄▖
▐▌ ▐▌▐▌   
▐▛▀▘ ▐▌   
▐▌   ▝▚▄▄▖

*/
body:not(.is-mobile) {
  border-radius: 20px;
}
body:not(.is-mobile) .nav {
  color: green;
}

/*
▗▖  ▗▖ ▗▄▖ ▗▄▄▖ ▗▄▄▄▖▗▖   ▗▄▄▄▖
▐▛▚▞▜▌▐▌ ▐▌▐▌ ▐▌  █  ▐▌   ▐▌   
▐▌  ▐▌▐▌ ▐▌▐▛▀▚▖  █  ▐▌   ▐▛▀▀▘
▐▌  ▐▌▝▚▄▞▘▐▙▄▞▘▗▄█▄▖▐▙▄▄▖▐▙▄▄▖

*/
.is-mobile {
  border-radius: 5px;
}
.is-mobile .nav {
  color: green;
}