/*
 ▗▄▄▖▗▄▄▄▖▗▖  ▗▖▗▄▄▄▖▗▄▄▖  ▗▄▖ ▗▖   
▐▌   ▐▌   ▐▛▚▖▐▌▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌   
▐▌▝▜▌▐▛▀▀▘▐▌ ▝▜▌▐▛▀▀▘▐▛▀▚▖▐▛▀▜▌▐▌   
▝▚▄▞▘▐▙▄▄▖▐▌  ▐▌▐▙▄▄▖▐▌ ▐▌▐▌ ▐▌▐▙▄▄▖
                                                              
*/
@use './general/links';
@use './general/code-block';
@use './general/icons';
@use './general/headers';
@use './general/tables';
@use './general/checkBox';
@use './general/buttons';
@use './general/inputes';
@use './general/file-tree-icons';
@use './general/robot-img';
@use './general/callout';
@use './general/meta-data-container';
@use './general/bullets';
@use './plugins/plugins';
@use './general/folding-headers';
@use './general/animations';



//---------- hide spacer between side and center 
.workspace-leaf-resize-handle {
  border-inline-end-style: none !important;
  border-inline-start-style: none !important;
}

//---------- PAGE TITLE
.inline-title {
  font-weight: bold;
  color: #CA4246;
  background-image: linear-gradient(45deg, #CA4246 10%, #E16541 20%, #F18F43 30%, #8B9862 40%, #476098 50%, #476098 60%, #8B9862 70%, #F18F43 80%, #E16541 90%, #CA4246 100%);
  background-clip: text;
  line-height: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

//---------- strong
strong,
.cm-strong {
  font-weight: bold;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//---------- dashed border for file tree
.tree-item-children {
  border-inline-start: var(--nav-indentation-guide-width) dashed var(--nav-indentation-guide-color);
}

//---------- Menu
.menu {
  background-color: var(--s-bg-primary-color);
}

.suggestion-container {
  background-color: var(--s-bg-primary-color) !important;
}

//---------- status-bar
.status-bar {
  backdrop-filter: blur(5px);
}

// separator
.view-content hr {
  height: 1px;
  background-image: linear-gradient(45deg, #CA4246 10%, #E16541 20%, #F18F43 30%, #8B9862 40%, #476098 50%, #476098 60%, #8B9862 70%, #F18F43 80%, #E16541 90%, #CA4246 100%);
  border: none;
}