/*
 ▗▄▄▖▗▄▄▄▖▗▖  ▗▖▗▄▄▄▖▗▄▄▖  ▗▄▖ ▗▖   
▐▌   ▐▌   ▐▛▚▖▐▌▐▌   ▐▌ ▐▌▐▌ ▐▌▐▌   
▐▌▝▜▌▐▛▀▀▘▐▌ ▝▜▌▐▛▀▀▘▐▛▀▚▖▐▛▀▜▌▐▌   
▝▚▄▞▘▐▙▄▄▖▐▌  ▐▌▐▙▄▄▖▐▌ ▐▌▐▌ ▐▌▐▙▄▄▖
                                                              
*/
@use './general/links';
@use './general/code-block';

//---------- hide spacer between side and center 
.workspace-leaf-resize-handle {
  border-inline-end-style: none !important;
  border-inline-start-style: none !important;
}

//---------- one backtick code
.markdown-rendered :not(pre)>code,
.cm-s-obsidian span.cm-inline-code {
  color: inherit;
  font-family: inherit;
}

.theme-dark .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight),
.theme-dark .cm-s-obsidian span.cm-inline-code,
.theme-dark :not(pre)>code {
  background-color: #494a4e !important;
  border-radius: 3px;
  padding: 0 0.25em;

}

//---------- PAGE TITLE
.inline-title {
  font-weight: bold;
  color: #CA4246;
  background-image: linear-gradient(45deg, #CA4246 10%, #E16541 20%, #F18F43 30%, #8B9862 40%, #476098 50%, #476098 60%, #8B9862 70%, #F18F43 80%, #E16541 90%, #CA4246 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

h1,
.markdown-rendered h1,
.is-live-preview .HyperMD-header-1 {
  font-weight: normal;
}

strong,
.cm-strong {
  font-weight: bold;
  color: var(--level-1);
}

//---------- HEADING underline
h2,
h3,
h4,
.markdown-rendered h2,
.markdown-rendered h3,
.markdown-rendered h4 {
  position: relative;
}

//h2
.is-live-preview .HyperMD-header-2::before,
.markdown-rendered h2::before {
  margin-inline-start: 0;
  position: absolute;
  content: " ";
  display: inline-block;
  width: 18px;
  height: 2px;
  bottom: 3px;
  border-radius: 5px;
  background-color: var(--h2-color);
  transform: translateY(4px);
}

//h3
.is-live-preview .HyperMD-header-3::before,
.markdown-rendered h3::before {
  margin-inline-start: 0;
  position: absolute;
  content: " ";
  display: inline-block;
  width: 10px;
  height: 2px;
  bottom: 3px;
  border-radius: 5px;
  transform: translateY(4px);
  background-color: var(--h3-color);
}

//h4
.is-live-preview .HyperMD-header-4::before,
.markdown-rendered h4::before {
  margin-inline-start: 0;

  position: absolute;
  content: " ";
  display: inline-block;
  width: 3px;
  height: 2px;
  bottom: 3px;
  border-radius: 5px;
  transform: translateY(3px);
  background-color: var(--h4-color);
}

//---------- dashed border for file tree
.tree-item-children {
  border-inline-start: var(--nav-indentation-guide-width) dashed var(--nav-indentation-guide-color);
}

//---------- Menu
.menu {
  background-color: var(--s-bg-primary-color);
}

.suggestion-container {
  background-color: var(--s-bg-primary-color) !important;
}

//make the buttons like lorens theme
button.mod-cta {
  background: linear-gradient(to top, #0ba360 0%, #3cba92 100%) !important;
}