/*
▗▄▄▖  ▗▄▄▖
▐▌ ▐▌▐▌   
▐▛▀▘ ▐▌   
▐▌   ▝▚▄▄▖

*/
@use './is-pc/nav.scss' as nav;
@use './is-pc/prompt' as prompt;
@use './is-pc/settings-modal' as settings-modal;
@use './is-pc/vault-switcher' as vault-switcher;
@use './is-pc/robot-img-pc' as robot-img-pc;
@use './is-pc/menu' as menu;
@use './is-pc/auto-hide/auto-hide' as auto-hide;


body:not(.is-mobile) {
  @include nav.pc-styles();
  @include prompt.pc-styles();
  @include settings-modal.pc-styles();
  @include vault-switcher.pc-styles();
  @include robot-img-pc.pc-styles();
  @include menu.pc-styles();
  @include auto-hide.pc-styles();

}

body:not(.is-mobile) {

  // center the ribbon icons
  .workspace-ribbon.side-dock-ribbon {
    flex-direction: row;
  }
}