/*
▗▄▄▖  ▗▄▄▖
▐▌ ▐▌▐▌   
▐▛▀▘ ▐▌   
▐▌   ▝▚▄▄▖

*/
@use './is-pc/nav.scss' as nav;
@use './is-pc/prompt' as prompt;
@use './is-pc/settings_modal' as settings_modal;
@use './is-pc/inputes' as inputs;

body:not(.is-mobile) {
  @include nav.pc-styles();
  @include prompt.pc-styles();
  @include settings_modal.pc-styles();
  @include inputs.pc-styles();
}

body:not(.is-mobile) {

  // center the ribbon icons
  .workspace-ribbon.side-dock-ribbon {
    flex-direction: row;
  }
}