/*
▗▖  ▗▖ ▗▄▖ ▗▄▄▖ ▗▄▄▄▖▗▖   ▗▄▄▄▖
▐▛▚▞▜▌▐▌ ▐▌▐▌ ▐▌  █  ▐▌   ▐▌   
▐▌  ▐▌▐▌ ▐▌▐▛▀▚▖  █  ▐▌   ▐▛▀▀▘
▐▌  ▐▌▝▚▄▞▘▐▙▄▞▘▗▄█▄▖▐▙▄▄▖▐▙▄▄▖
                               
*/

@use './is-mobile/menu' as menu;
@use './is-mobile/nav-files-container' as nav-files-container;
@use './is-mobile/mobile-tab-switcher' as mobile-tab-switcher;
@use './is-mobile/modal-and-prompt' as modal-and-prompt;
@use './is-mobile/setting-modal' as setting-modal;
@use './is-mobile/theme-settings' as theme-settings;
@use './is-mobile/robot-gear' as robot-gear;
@use './is-mobile/toolbar' as toolbar;

.is-mobile {
  @include menu.mobile-styles();
  @include nav-files-container.mobile-styles();
  @include mobile-tab-switcher.mobile-styles();
  @include modal-and-prompt.mobile-styles();
  @include setting-modal.mobile-styles();
  @include theme-settings.mobile-styles();
  @include robot-gear.mobile-styles();
  @include toolbar.mobile-styles();
}

// remove the stars background svg because it is heavy at mobile 
body.is-mobile {
  transition: none !important;
  background: none;
  background-color: var(--s-bg-primary-color);
}

.is-mobile {
  .view-content:has(canvas) {
    background: var(--s-bg-svg);
  }
}