:root {
  --primary-color: #6d8696;
  --secondary-color: #2ecc71;
  --font-size-base: 16px;

  --s-bg-color: #141414;
  --s-primary-color: #a1f98f;
  --hover-bg-color: #a1f98f24;



}

.theme-dark {
  --primary-color: var(--s-primary-color);
  --background-primary: var(--s-bg-color);

}

body {
  background-color: var(--primary-color);
}