.no-style-headers {}

//- glass-robo headers
.glass-robo-style-headers {

  //h2
  .is-live-preview .HyperMD-header-2::before,
  .markdown-rendered h2::before {
    margin-inline-start: 0;
    position: absolute;
    content: " ";
    display: inline-block;
    width: 18px;
    height: 2px;
    bottom: 2px;
    border-radius: 5px;
    background-color: var(--h2-color);
    transform: translateY(4px);
  }

  .is-live-preview .HyperMD-header-2[dir="rtl"]::before,
  .markdown-rendered[dir="rtl"] h2::before {
    bottom: 0px !important;
  }

  //h3
  .is-live-preview .HyperMD-header-3::before,
  .markdown-rendered h3::before {
    margin-inline-start: 0;
    position: absolute;
    content: " ";
    display: inline-block;
    width: 10px;
    height: 2px;
    bottom: 3px;
    border-radius: 5px;
    transform: translateY(4px);
    background-color: var(--h3-color);
  }

  .is-live-preview .HyperMD-header-3[dir="rtl"]::before,
  .markdown-rendered[dir="rtl"] h3::before {
    bottom: 0px !important;
  }

  //h4
  .is-live-preview .HyperMD-header-4::before,
  .markdown-rendered h4::before {
    margin-inline-start: 0;

    position: absolute;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 2px;
    bottom: 2px;
    border-radius: 5px;
    transform: translateY(3px);
    background-color: var(--h4-color);
  }

  .is-live-preview .HyperMD-header-4[dir="rtl"]::before,
  .markdown-rendered[dir="rtl"] h4::before {
    bottom: 0px !important;
  }
}