@use './headers-functions' as *;

.no-style-headers {}

//- glass-robo headers
.glass-robo-style-headers {

  //h2
  .is-live-preview .HyperMD-header-2::before,
  .markdown-rendered h2::before {
    margin-inline-start: 0;
    position: absolute;
    content: " ";
    display: inline-block;
    width: 18px;
    height: 2px;
    bottom: 2px;
    border-radius: 5px;
    background-color: var(--h2-color);
    transform: translateY(4px);
  }

  .is-live-preview .HyperMD-header-2[dir="rtl"]::before,
  .markdown-rendered h2::before {
    bottom: 0px !important;
  }

  //h3
  .is-live-preview .HyperMD-header-3::before,
  .markdown-rendered h3::before {
    margin-inline-start: 0;
    position: absolute;
    content: " ";
    display: inline-block;
    width: 10px;
    height: 2px;
    bottom: 3px;
    border-radius: 5px;
    transform: translateY(4px);
    background-color: var(--h3-color);
  }

  .is-live-preview .HyperMD-header-3[dir="rtl"]::before,
  .markdown-rendered h3::before {
    bottom: 0px !important;
  }

  //h4
  .is-live-preview .HyperMD-header-4::before,
  .markdown-rendered h4::before {
    margin-inline-start: 0;

    position: absolute;
    content: " ";
    display: inline-block;
    width: 3px;
    height: 2px;

    bottom: 2px;
    border-radius: 5px;
    transform: translateY(3px);
    background-color: var(--h4-color);
  }

  .is-live-preview .HyperMD-header-4[dir="rtl"]::before,
  .markdown-rendered h4::before {
    bottom: 0px !important;
  }
}


.test-style-headers {
  @include all-headers-con((border: 1px solid, text-align:center, padding: 5px 0),
    (left:-10px, width: 5px, height: 5px),
    (right:-10px, width: 5px, height: 5px));

}

.cross-style-headers {
  @include all-headers-con((margin-top:15px !important, margin-bottom:10px !important, border-top: 1px solid, border-bottom: 1px solid, text-align:center, padding: 5px 0),
    (left:10px, width: 1px, height: 150%),
    (right:10px, width: 1px, height: 150%));
}

.lodi-style-headers {
  @include all-headers-con((margin-top:15px !important, margin-bottom:10px !important, padding:5px, text-align:center, border-radius:5px, line-height: unset), (left:0, width: 5px, height: 100%, border-top-left-radius: 5px, border-bottom-left-radius: 5px),
    (right:0, width: 5px, height: 100%, border-top-right-radius: 5px, border-bottom-right-radius: 5px), (margin-bottom:10px));

  @include h-con(1, (background-color:rgba(var(--h1-new-color), 0.1)),
    (background-color: rgba(var(--h1-new-color), 0.8)),
    (background-color: rgba(var(--h1-new-color), 0.8)));
  @include h-con(2, (background-color:rgba(var(--h2-new-color), 0.1)),
    (background-color: rgba(var(--h2-new-color), 0.8)),
    (background-color: rgba(var(--h2-new-color), 0.8)));
  @include h-con(3, (background-color:rgba(var(--h3-new-color), 0.1)),
    (background-color: rgba(var(--h3-new-color), 0.8)),
    (background-color: rgba(var(--h3-new-color), 0.8)));
  @include h-con(4, (background-color:rgba(var(--h4-new-color), 0.1)),
    (background-color: rgba(var(--h4-new-color), 0.8)),
    (background-color: rgba(var(--h4-new-color), 0.8)));
  @include h-con(5, (background-color:rgba(var(--h5-new-color), 0.1)),
    (background-color: rgba(var(--h5-new-color), 0.8)),
    (background-color: rgba(var(--h5-new-color), 0.8)));
  @include h-con(6, (background-color:rgba(var(--h6-new-color), 0.1)),
    (background-color: rgba(var(--h6-new-color), 0.8)),
    (background-color: rgba(var(--h6-new-color), 0.8)));


}

.voidraizer-style-headers {
  @include all-headers-con((margin-top:15px !important, margin-bottom:10px !important, text-align:center, padding: 5px 0));
  // @include all-headers-con((text-align:center, padding: 5px 0));
  @include h(1,
    (background-color:rgba(var(--h1-new-color), 0.1),
      padding: 5px 25px,
      border-radius: 25px,
    ),
    (background-color:rgba(var(--h1-new-color), 0.1),
      transform: translateX(-100%),
      width:50px,
      height: 2px,
    ),
    (background-color:rgba(var(--h1-new-color), 0.1),
      transform: translateX(100%),
      width:50px,
      height: 2px,
    ));

  @include h(2,
    (background-color:rgba(var(--h2-new-color), 0.1),
      padding: 5px 20px,
      border-radius: 20px,
    ),
    (background-color:rgba(var(--h2-new-color), 0.1),
      transform: translateX(-100%),
      width:40px,
      height: 2px,
    ),
    (background-color:rgba(var(--h2-new-color), 0.1),
      transform: translateX(100%),
      width:40px,
      height: 2px,
    ));

  @include h(3,
    (background-color:rgba(var(--h3-new-color), 0.1),
      padding: 5px 15px,
      border-radius: 15px,
    ),
    (background-color:rgba(var(--h3-new-color), 0.1),
      transform: translateX(-100%),
      width:30px,
      height: 2px,
    ),
    (background-color:rgba(var(--h3-new-color), 0.1),
      transform: translateX(100%),
      width:30px,
      height: 2px,
    ));

  @include h(4,
    (background-color:rgba(var(--h4-new-color), 0.1),
      padding: 5px 10px,
      border-radius: 10px,
    ),
    (background-color:rgba(var(--h4-new-color), 0.1),
      transform: translateX(-100%),
      width:20px,
      height: 2px,
    ),
    (background-color:rgba(var(--h4-new-color), 0.1),
      transform: translateX(100%),
      width:20px,
      height: 2px,
    ));

  @include h(5,
    (background-color:rgba(var(--h5-new-color), 0.1),
      padding: 5px 8px,
      border-radius: 8px,
    ),
    (background-color:rgba(var(--h5-new-color), 0.1),
      transform: translateX(-100%),
      width:16px,
      height: 2px,
    ),
    (background-color:rgba(var(--h5-new-color), 0.1),
      transform: translateX(100%),
      width:16px,
      height: 2px,
    ));

  @include h(6,
    (background-color:rgba(var(--h6-new-color), 0.1),
      padding: 5px 5px,
      border-radius: 5px,
    ),
    (background-color:rgba(var(--h6-new-color), 0.1),
      transform: translateX(-100%),
      width:10px,
      height: 2px,
    ),
    (background-color:rgba(var(--h6-new-color), 0.1),
      transform: translateX(100%),
      width:10px,
      height: 2px,
    ));
}